@import "mocha.css";

* {
  font-family: Cozette;
  font-size: 11px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 0px 0px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
          -1px 1px 0 #000, 1px 1px 0 #000;
}

#workspaces, #mode, #scratchpad {
  border-radius: .4rem;
  background-color: @surface0;
  margin: .3rem 0 0 .5rem;
  padding: 0 .5rem 0 .5rem;
}

#workspaces {
  padding: 0.1rem;
}

#mode {
    color: @flamingo;
}

#workspaces button, #scratchpad button {
  color: @lavender;
  padding: 0.2rem 0.3rem;
}

#workspaces button:hover, #scratchpad button:hover {
  border-bottom: 2px solid @teal;
  background-color: @surface0
}

#workspaces button.focused {
  background-color: @blue;
  color: @surface0;
}

#workspaces button.urgent {
    background-color: @flamingo;
    color: @surface0
}

#custom-music,
#tray,
#backlight,
#clock,
#pulseaudio,
#cpu,
#memory,
#temperature,
#network,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem .6rem;
  margin: .3rem 0 0 0;
}

#network {
    color: @blue
}

#cpu {
    color: @green
}

#memory {
    color: @teal
}

#temperature {
    color: @maroon   
}

#clock {
  color: @mauve;
  border-radius: 0px .5rem .5rem 0px;
  margin-right: .5rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @flamingo;
  border-radius: .5rem 0px 0px .5rem;
  margin-left: .5rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#tray {
  border-radius: .4rem;
}
